


.container {
  width: 100%;
}
.imgContainer{
  width: 100%;
  height: 80dvh;
  position: relative;
  z-index: 1;
  background-image: url('/traf.webp');
  background-position: center;
  background-size: 100% 100%;
  font-size: 24px;
}
.imgContainer p {
  position: absolute;
  font-size: 32px;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}